.fa-star{
    color: goldenrod;
}

.react-pagination ul {
    display: flex;
    justify-content: center;
    gap: 27px;
    text-decoration: none;
    margin-top: 60px;
    list-style: none;
}

.react-pagination ul li a {
    text-decoration: none;
    border: 2px solid #ccc;
    padding: 5px 15px;
}